// Colors

$background-color: #FF585F;
$background-color-secondary: #CC3E43;
$font-color-dark: #2F2F3B;
$font-color-white: #FFF;
$font-color-red: #FF4D54; 


// Font

$default-font: 'DM Sans', sans-serif;
